<a href="https://colab.research.google.com/github/liviasantos08/ETL-com-Python/blob/main/Transforma%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install panda

Collecting panda
  Downloading panda-0.3.1.tar.gz (5.8 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from panda) (57.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from panda) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (3.0.4)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py) ... done
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7255 sha256=e153ebbde1029d92a27881aaa5062d5ea77e93a9b6edbe374ffa0edcd4e8f010
  Stored in directory: /root/.cache/pip/wheels/e6/3d/81/a3665ce657d35359ca337b1db2975dbe5cd281a88b8982f6b6
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1

In [ ]:
pip install pandera

Collecting pandera
  Downloading pandera-0.8.0-py3-none-any.whl (186 kB)
     |████████████████████████████████| 186 kB 28.1 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Collecting pandas-stubs
  Downloading pandas_stubs-1.2.0.39-py3-none-any.whl (161 kB)
     |████████████████████████████████| 161 kB 46.4 MB/s
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.13.3)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (3.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandas-stubs, pandera
Successfully installed mypy-extensions-0.4.3 pandas-stubs-1.2.0.39 pandera-0.8.0 typing-inspect-0.7.1

In [ ]:
import pandas as pd
import pandera as pa

In [ ]:
valores_ausentes=['**','###!','####','****','*****','NULL']
df=pd.read_csv("/content/ocorrencia (1).csv", sep=";",dayfirst=True, na_values=valores_ausentes)
df.head(10)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0
5              39807               39807  ...        17:53:00                   0
6              40215               40215  ...        18:40:00                   0
7              39707               39707  ...        12:30:00                   3
8              39156               39156  ...        23:15:00                   2
9              39711               39711  ...        20:00:00                   0

[10 rows x 7 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [ ]:
scheme = pa.DataFrameSchema(
        columns = {
          'codigo_ocorrencia':pa.Column(pa.Int),
          'codigo_ocorrencia2':pa.Column(pa.Int),
          'ocorrencia_classificacao':pa.Column(pa.String),
          'ocorrencia_cidade':pa.Column(pa.String),
          'ocorrencia_uf':pa.Column(pa.String, pa.Check.str_length(2,4), nullable=True),
          'ocorrencia_aerodromo':pa.Column(pa.String, nullable=True),
          'ocorrencia_dia':pa.Column(pa.DateTime),
          'ocorrencia_hora':pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),#trabalhando com expressão regular
          'total_recomendacoes':pa.Column(pa.Int)
       }
)

In [ ]:
scheme.validate(df)

SchemaError: ignored

In [ ]:
df.dtypes

codigo_ocorrencia\tcodigo_ocorrencia1\tocorrencia_classificacao\tocorrencia_cidade\tocorrencia_uf\tocorrencia_aerodromo\tocorrencia_dia\tocorrencia_hora\ttotal_recomendacoes    object
dtype: object

In [ ]:
df.loc[10:15]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
11              40069               40069  ...        14:50:00                   8
12              40414               40414  ...        03:00:00                   0
13              39507               39507  ...        17:00:00                   2
14              40107               40107  ...        14:30:00                   0
15              39315               39315  ...        21:22:00                   0

[6 rows x 9 columns]

In [ ]:
#Localização pelo indice
df.iloc[10:15]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
11              40069               40069  ...        14:50:00                   8
12              40414               40414  ...        03:00:00                   0
13              39507               39507  ...        17:00:00                   2
14              40107               40107  ...        14:30:00                   0

[5 rows x 9 columns]

In [ ]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [ ]:
#localiza o valor não disponivel na coluna ocorrencia_hora
filtro=df.ocorrencia_hora.isna()
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
4102              78823  ...                    0

[1 rows x 9 columns]

In [ ]:
#Ocorrencias com mais de 10 recomendações
filtro=df.total_recomendacoes>10
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
63                39992  ...                   11
326               42250  ...                   19
530               43471  ...                   11
727               44377  ...                   11
872               44796  ...                   23
884               44888  ...                   11
1062              45554  ...                   20
1972              47938  ...                   11
2797              52265  ...                   13
3932              66432  ...                   12

[10 rows x 7 columns]

In [ ]:
#Ocorrencias com mais de 10 recomendações: Cidades
filtro=df.total_recomendacoes>10
df.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]

         ocorrencia_cidade  total_recomendacoes
63               SÃO PAULO                   11
326         RIO DE JANEIRO                   19
530              SÃO PAULO                   11
727               ITÁPOLIS                   11
872                 RECIFE                   23
884   SÃO JOSÉ DOS PINHAIS                   11
1062            UBERLÂNDIA                   20
1972              BRASÍLIA                   11
2797                SANTOS                   13
3932               VITÓRIA                   12

In [ ]:
#Ocorrencias cuja classificação == INCIDENTE GRAVE
filtro=df.ocorrencia_classificacao=='INCIDENTE GRAVE'
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_classificacao']]

     ocorrencia_cidade ocorrencia_classificacao
7             CANUTAMA          INCIDENTE GRAVE
8             CASCAVEL          INCIDENTE GRAVE
9        PARÁ DE MINAS          INCIDENTE GRAVE
29            CURITIBA          INCIDENTE GRAVE
35              PALMAS          INCIDENTE GRAVE
...                ...                      ...
6090             MARAÚ          INCIDENTE GRAVE
6095   ELDORADO DO SUL          INCIDENTE GRAVE
6097     CAXIAS DO SUL          INCIDENTE GRAVE
6098   CHAPADÃO DO SUL          INCIDENTE GRAVE
6104       VOTUPORANGA          INCIDENTE GRAVE

[791 rows x 2 columns]

In [ ]:
#Ocorrencias cuja classificação == INCIDENTE GRAVE e o estado de SP
filtro1=df.ocorrencia_classificacao=='INCIDENTE GRAVE'
filtro2=df.ocorrencia_cidade=='SÃO PAULO'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
219               41411  ...                    2
297               42289  ...                    0
380               42757  ...                    0
461               43459  ...                    0
1024              45553  ...                    5
1353              45867  ...                    0
2294              50093  ...                    0
2661              51417  ...                    0
2952              52779  ...                    0
2963              52840  ...                    0
3934              66444  ...                    1
4275              77281  ...                    0
4369              77694  ...                    0
4498              77921  ...                    0
4619              78171  ...                    0
4635              78203  ...                    0
4705              78332  ...                    0
5167              78998  ...                    0
5591              79540  ...                    0
5705              79739  ...                    0
5716              79718  ...                    0
6007              80124  ...                    0

[22 rows x 7 columns]

In [ ]:
#Ocorrencias cuja (classificação == INCIDENTE GRAVE ou classificaçao == INCIDENTE) e o estado == SÃO PAULO
filtro1=df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE', 'INCIDENTE'])
filtro2=df.ocorrencia_cidade=='SÃO PAULO'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
64                39386  ...                    0
77                40314  ...                    0
95                40329  ...                    0
134               40262  ...                    0
...                 ...  ...                  ...
6010              80151  ...                    0
6055              80174  ...                    0
6069              80192  ...                    0
6084              80234  ...                    0
6085              80208  ...                    0

[263 rows x 7 columns]

In [ ]:
#ocorrência cuja cidade comecem com a letra C
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
6                 40215  ...                    0
7                 39707  ...                    3
8                 39156  ...                    2
15                39315  ...                    0
20                40310  ...                    0
...                 ...  ...                  ...
6094              80225  ...                    0
6097              80231  ...                    0
6098              80248  ...                    0
6100              80235  ...                    0
6113              80259  ...                    0

[895 rows x 7 columns]

In [ ]:
#ocorrência cuja cidade terminam com a letra A
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
12                40414  ...                    0
15                39315  ...                    0
25                39772  ...                    0
26                39847  ...                    0
...                 ...  ...                  ...
6093              80227  ...                    0
6094              80225  ...                    0
6102              80240  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0

[1642 rows x 7 columns]

In [ ]:
#ocorrência cuja cidade terminam com a letra MA
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
15                39315  ...                    0
408               43062  ...                    1
688               44198  ...                    0
1035              51785  ...                    0
1377              45939  ...                    0
1401              46180  ...                    0
2099              49113  ...                    4
2102              48799  ...                    0
2646              80059  ...                    0
2657              51347  ...                    0
2857              52340  ...                    1
2968              52832  ...                    0
2999              52979  ...                    0
3042              52984  ...                    0
3094              53596  ...                    0
3159              53223  ...                    0
3173              53265  ...                    2
3191              53271  ...                    0
3684              65414  ...                    1
3727              65633  ...                    0
3883              66265  ...                    0
4231              77371  ...                    1
4313              77612  ...                    0
4576              78080  ...                    0
4987              78867  ...                    0
5071              78923  ...                    0
5081              78782  ...                    0
5406              79282  ...                    0
5441              79338  ...                    0
5475              79400  ...                    0
5759              79823  ...                    0
5776              79820  ...                    0
5778              79830  ...                    0
5861              79943  ...                    0
6093              80227  ...                    0

[36 rows x 7 columns]

In [ ]:
#ocorrência cuja cidade contêm a letra MA
filtro = df.ocorrencia_cidade.str.contains('MA')
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
35                39487  ...                    0
78                39916  ...                    2
...                 ...  ...                  ...
6075              80205  ...                    0
6086              80212  ...                    0
6090              80221  ...                    0
6093              80227  ...                    0
6106              80249  ...                    0

[514 rows x 7 columns]

In [ ]:
df.tail()

      codigo_ocorrencia  ...  total_recomendacoes
6109              80245  ...                    0
6110              80247  ...                    0
6111              80251  ...                    0
6112              80257  ...                    0
6113              80259  ...                    0

[5 rows x 7 columns]